/********************************************** ESTILO GERAL **********************************************/

html {
  /* A cada 1rem = 10px */
  font-size: 62.5%;
}

body,
ul,
h1,
p {
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 60rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/********************************************** HEADER **********************************************/

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 120rem;
  padding: 2rem;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  display: inline-block;
  font-family: 'Poppins';
  font-weight: 400;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem 0;
  position: relative;
}

.header-menu a:after {
  content: '';
  display: block;
  height: 0.2rem;
  width: 0px;
  background-color: #ffffff;
  margin-top: 0.4rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 2rem;
  }
  .header-menu a {
    background-color: #111111;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }
  .header-menu a {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}

/********************************************** INTRODUCTION **********************************************/

.intro-bg {
  background-color: #000000;
  box-shadow: inset 0 -12rem #ffffff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
  box-sizing: border-box;
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.intro-conteudo {
  align-self: end;
  padding-bottom: 20rem;
}

.intro h1 {
  margin-bottom: 3.2rem;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 1.125;
  color: #ffffff;
}

.intro h1 span {
  color: #ffbb00;
}

.intro p {
  margin-bottom: 2rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.intro a {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.33;
  color: #332200;
}

.intro a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.intro img {
  border-radius: 0.4rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 4.8rem;
  }
  .intro p {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .intro-bg {
    background-color: #111111;
    padding-top: 4rem;
    box-shadow: inset 0 -6rem #ffffff;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .intro-conteudo {
    padding-bottom: 0rem;
  }
  .intro h1 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }
  .intro img {
    height: 30rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .intro a {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }
}
