.bicycle-list {
  padding: 6rem 0 12rem 0;
}

.bicycle-list h2 {
  margin-bottom: 4rem;
}

.bicycle-list ul {
  display: flex;
  gap: 4rem;
  padding: 0 2rem 2rem 2rem;
  max-width: 140rem;
  margin: 0 auto;
  overflow-x: auto;
}

.bicycle-list li {
  flex: 1;
  min-width: 28rem;
}

.bicycle-list a {
  display: block;
}

.bicycle-list img {
  margin-bottom: 1.6rem;
}

.bicycle-list h3 {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.bicycle-list h3::before {
  content: '';
  display: inline-block;
  height: 0.8rem;
  width: 1.2rem;
  margin-right: 0.8rem;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.bicycle-list a:hover h3::before {
  width: 2.4rem;
}

.bicycle-list li span {
  padding-left: 2rem;
}

@media (max-width: 800px) {
  .bicycle-list {
    padding: 6rem 0;
  }
  .bicycle-list ul {
    gap: 2rem;
  }
}
